.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-subjectarea {
  background-color: red;

}
#queryText {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 45%;
}
#subjectDropdown {
  float: left;
  margin-left: 3%;
  margin-top: 3%;

}

#fieldSelector {
  float: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 45%;
}
.important{
  border: solid;
  
}
td {
  padding-left : 3px;
  padding-right : 3px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
