.App {
  text-align: center;
}


#header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: black;
  margin-left: 70px;
}

#right-side-content  {
  border-left : solid 6px black;
  float: right;
  width: 90%;
  padding-bottom: 150px;
}

#queryText {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
  width: 45%;
 
 }
 #querySelector {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 60%;
  padding-right: 20px;
}
#subjectDropdown {
  float: left;
  margin-left: 15%;
  margin-top: 10%;

}

#button-textfield-content-area {
  position: relative;
  margin-top: 05%;
}

#fieldSelector {
  float: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 45%;
}
td {
  padding-left : 1px;
  padding-right : 1px;
}
tr:nth-child(even) {
  background-color: #f2f2f2
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
